$background-color-white: #f9f9f9;
$background-color-dark: #343a40;
$button-color-blue: #007bff;
$button-hover-color-blue: #0056b3;
$button-save-color-green: #28a745;
$button-save-hover-color-green: #218838;
$button-logout-color-red: #dc3545;
$button-logout-hover-color-red: #c82333;
$disabled-color: #6c757d;
$error-color: red;
$text-color-white: #fff;
$border-color-gray: #ccc;