@import '../../styles/variables';

.loginContainer {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: $text-color-white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;

    input[type='email'],
    input[type='password'] {
      padding: 0.75rem;
      margin-bottom: 1rem;
      border: 1px solid $border-color-gray;
      border-radius: 4px;
      font-size: 1rem;
    }

    button {
      background-color: $button-color-blue;
      color: $text-color-white;
      padding: 0.75rem;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      font-size: 1rem;

      &:disabled {
        background-color: $disabled-color;
        cursor: not-allowed;
      }
    }
  }
}
